body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    background-color: #f0f2f5;
}

.container {
    display: flex;
    width: 100%;
    height: 85vh;
}

.sidebar {
    width: 400px;
    background-color:  var(--card-back-color); 
    color: white;
    padding: 20px;
    overflow-y: auto;
    border-right: 5px solid var(--bg-color);
    font-size: 1.2rem;
   
}

.sidebar h3 {
    color: #F7E940;
    padding:5px;
    font-size: 1.5rem;
}


.game-area {
    flex-grow: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-area h1{
    color: var(--title-color);  font-size: 1.5rem;

}

.display-box {
    width: 500px;
    min-height: 150px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
    margin: 20px 0;
    padding: 20px;
}

.controls {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    margin-bottom: 20px; 
    gap: 15px; /* Aumentamos el espacio entre los botones y el control de velocidad */
}

.controls button {
    width: 60px; 
    height: 60px; 
    padding: 0;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 50%; 
    background-color: #0D47A1;
    color: white;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}


.button-icon {
    width: 30px; 
    height: 30px;
}

.controls button:disabled {
    background-color: #a5d6a7;
    cursor: not-allowed;
}

.controls button:hover { background-color: #0056b3; }

 .check-section button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 50%; 
    background-color: #0D47A1;
    color: white;
    font-weight: bold;
}

.check-section {
    margin-top: 30px;
    width: 80%;
    text-align: center;
}

textarea {
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid var(--card-back-color);
}

#resultado-feedback {
    margin-top: 15px;
    font-weight: bold;
}